<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="../js/index.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/thankyou.js"></script>
  <script src="../js/trivia.js"></script>
  <script src="../js/benefits.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="../styles/index.css" />
  <title>TreeHouse HM</title>
</head>

<body>
  <div class="ui menu fixed stackable inverted green">
    <div class="item" id="test">
      <img src="../images/NEW2.png" id="menuImg" style="display: flex;" />
      <i class="fas fa-bars fa-2x" id="menuBars" style="display: none"></i>
    </div>

    <div class="header item" id="menuHeader" style="display:flex;">
      The Treehouse
    </div>
    <a class="item" href="#section1" id="section1Menu"> Home </a>
    <a class="item" href="#section2" id="section2Menu"> What we're about </a>
    <a class="item" href="#section3" id="section3Menu"> Our Board </a>
    <a class="item" href="#section4" id="section4Menu"> How can I help </a>
    <a class="item" href="#section5" id="section5Menu"> Contact Us </a>
  </div>

  <div class="main" id="section1" style="background-color:#ebf0f6">

    <!-- <section id="section1"> -->
    <div class="ui segment">
      <img src="../images/TreeHouse_Logo_HiRes_6cm.jpg" alt="" class="background" />
    </div>
    <div class="ui container" id="shapesContainer">
      <div class="ui people shape" id="firstShape">
        <div class="sides" id="shape1"></div>
      </div>

      <div class="ui people shape" id="secondShape">
        <div class="sides" id="shape2"></div>
      </div>
      <div class="ui people shape third" id="thirdShape">
        <div class="sides" id="shape3"></div>
      </div>
    </div>
    <!-- </section> -->
  </div>

  <div class="main" id="section2" style="background-color:white">
    <!-- <div class="main" id="section2" style="background-color:red"> -->

    <!-- <section style="background-color:white" id="section2"> -->
    <br /><br><br>

    <div class="ui card about">
      <div class="content" id="aboutContent">
      
        <div class="header">
          <img src="../images/NEW2.png" id="aboutImg" /> What we are about
        </div>
        <br />
        <hr />
        <br />
        <p>
          The Tree House is a home for vulnerable children who are in need of
          care and protection as stated in the children’s act no 38 of 2005.
          The children that will benefit from a home such as ours are children
          who have been abused or abandoned. In most cases both, and in most
          cases to the extreme.
        </p>

        <p>
          We are a registered South African based NPO operating in a small
          community, which is fondly referred to as the Deep South.
        <!-- </p>

        <p> -->
          There is a huge need for a safe home such as The Tree House in the
          geographical area of the Southern Peninsula. The community is a
          diverse one; hosting three large underprivileged and under resourced
          communities within a small radius.
        </p>

        <p>
          The objective of The Tree House is to raise better future political
          and spiritual leaders; better brothers and sisters and mothers and
          fathers.
        </p>

        <p>
          We want to raise citizens that are not defined by their past but
          will rather define the future of our country. We want to walk
          through life with our children, guiding, providing, teaching and
          most importantly loving them.
        </p>

        <p>
          We value self-worth and education. We value manners and hard work.
          We value difference and opinion. We value our children. We are
          excited to join hands with you as we walk this adventure together.
        </p>

        <p>Welcome to our Tribe.</p>

        <p><strong>The Tree House Team</strong></p>
      </div>
    </div>
    <!-- </section> -->
  </div>
  <!-- </div> -->
  <!-- <div class="main" id="section3" style="background-color:#ebf0f6"> -->
  <div class="main" id="section3" style="background-color:white">

    <div>
      <div style="display: flex; justify-content: center; margin-bottom: 2rem;">
        <h1>Our Board</h1>
      </div>
      <div class="ui three column grid" id="board">
        <div class="column">
          <div class="ui fluid card">
            <div class="image"><img src="../images/daniel.jpg" /></div>
            <div class="content"><a class="header">Daniel Louise</a></div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="image"><img src="../images/helen.jpg" /></div>
            <div class="content"><a class="header">Helen Troy</a></div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="image"><img src="../images/elliot.jpg" /></div>
            <div class="content"><a class="header">Elliot Fu</a></div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="image"><img src="../images/elliot.jpg" /></div>
            <div class="content"><a class="header">Elliot Fu</a></div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="image"><img src="../images/elliot.jpg" /></div>
            <div class="content"><a class="header">Elliot Fu</a></div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="image"><img src="../images/elliot.jpg" /></div>
            <div class="content"><a class="header">Elliot Fu</a></div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="image"><img src="../images/elliot.jpg" /></div>
            <div class="content"><a class="header">Elliot Fu</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- </section> -->
  </div>
  <div class="main" id="section4" style="background-color:white">

    <div class="ui placeholder segment" id="mailingForm">
      <div class="ui two column very relaxed stackable grid">
        <div class="column">
          <div id="mailing" style="width: 100%; display: flex; flex-direction: column;align-items:center">
            <br><br>
            <div>
              <h2>Subscribe to our Mailing List</h2>
            </div>
            <br />
            <!-- <div class="form">UI -->
            <form action="" method="">
              <div id="newsLetterInputs" style="width: 100%;">
                <div class="ui pointing below label">Email</div>
                <div class="ui input focus">
                  <input type="email" placeholder="email" name="emailInput"/>
                </div>
                <br />
                <div class="ui pointing below label">First Name</div>
                <div class="ui input focus">
                  <input type="text" placeholder="First Name" name="firstNameInput"/>
                </div>
                <br />
                <div class="ui pointing below label">Last Name</div>
                <div class="ui input focus">
                  <input type="text" placeholder="Last Name" name="lastNameInput"/>
                </div>
                <br /><br>

                <button class="ui active  blue button">
                  <i class="user icon"></i> Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="column">
          <div id="donation" style="width: 80%; display: flex; flex-direction: column;align-items:center">
            <br><br>
            <div>
              <h2>Make a Donation</h2>
            </div>
            <br />
            <form action="">
              <div id="donationInputs">
                <div class="ui pointing below label">DonorBox Goes Here</div>
                <br />
                <p class="donationBlurb" style="width: 100%; align-content: center">
                  Your donation will be integral in starting up this safe
                  house to help at-risk children in South Africa. While any
                  donation is certainly appreciated recurring donations, no
                  matter how small, help keep this project alive. A weekly or
                  monthly pledge of even $15 can help keep six children off
                  the street. We appreciate your investment and support of
                  such a selfless cause... and most importantly the step
                  you've taken to changing the world for the better.
                  Philanthropists like you make it happen!
                </p>
                <p class="donationBlurb">Welcome to the tribe.</p>
                <br />

                <button class="ui active  blue button">
                  <i class="heart icon"></i> donate
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="ui vertical divider">Or</div>
    </div>
  </div>

  <div class="main" id="section5" style="background-color: lightgrey">
    <div class="ui placeholder segment" id="contactForm">
      <div class="ui two column very relaxed stackable grid">
        <div class="column">
          <div id="ourInfo">
            <div id="newsLetterForm">
              <div>
                <h2>Treehouse Details</h2>
              </div>
              <br /><br />
              <form action="">
                <div id="contactInputs">
                  <div id="contactLinksUl">
                    <ul id="contactLinks" style="display: flex;justify-content: space-evenly">
                      <li>
                        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                      </li>
                    </ul>
                  </div>
                  <br />

                  <p class="donationBlurb">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Doloribus repellendus distinctio natus vel, exercitationem
                    ratione, possimus atque quaerat aut, ad minus! Sed ducimus
                    suscipit similique nobis optio officia quasi voluptatibus?
                  </p>
                  <p class="donationBlurb">Welcome to the tribe.</p>
                  <br />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="column">
          <div id="contact">
            <div id="contactForm">
              <div>
                <h2>Contact Form</h2>
              </div>
              <br />
              <form action="" method="">
                <div id="contactInputs">
                  <label for="email">Email</label>
                  <div class="ui input focus">
                    <input type="email" placeholder="email" name="email"/>
                  </div>
                  <br />
                  <label for="firstName">First Name</label>
                  <div class="ui input focus">
                    <input type="text" placeholder="First Name" name="firstName"/>
                  </div>
                  <br />
                  <label for="lastName">Last Name</label>
                  <div class="ui input focus">
                    <input type="text" placeholder="Last Name" name="lastName"/>
                  </div>
                  <br />
                  <label for="subject">Subject</label>
                  <select name="subject" id="">
                    <option value="">Choose an Option Below</option>
                    <option value="I would like to help">I would like to help</option>
                    <option value="Donate">Donate</option>
                    <option value="Other">Other</option>
                  </select><br />
                  <label for="detail">Detail</label>
                  <div class="ui input focus">
                    <textarea name="" id="" cols="65" rows="10" name="detail" style="border: 1px solid lightblue;"></textarea>
                  </div>
                  <br />

                  <button class="ui active  blue button">
                    <i class="envelope icon"></i> Send
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="ui vertical divider">
        Or
      </div>
    </div>
  </div>

  <footer id="footer">
    <p id="courtesy">
      Some images courtesy of <a href="http://unsplash.com/">Unsplash</a>
    </p>
    <p>
      <a href="https://www.eccentrictoad.com" target="_blank">Designed and Hosted by Eccentric Toad</a>
    </p>
    <ul id="footerUL">
      <li>
        <a href="https://web.facebook.com/Digital-Alchemy-215749809113486/"><i class="fab fa-facebook-square fa-2x"></i></a>
      </li>
      <li>
        <a href="https://za.linkedin.com/in/wayne-bruton-9a82942b"><i class="fab fa-linkedin fa-2x"></i></a>
      </li>
    </ul>
  </footer>
</body>

</html>